
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome to Car Rental Service!</h1>
                    <p class="lead">We offer a wide range of vehicles for rent, at competitive prices.</p>
                    <hr class="my-4">
                    <p>Search for your dream vehicle and book online now!</p>
                    <form>
                        <div class="form-group">
                            <label for="vehicleSearch">Vehicle Search</label>
                            <input type="text" class="form-control" id="vehicleSearch" placeholder="Enter vehicle type, model, or location">
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="vehicle1.jpg" class="card-img-top" alt="Vehicle 1">
                    <div class="card-body">
                        <h5 class="card-title">Vehicle 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id congue malesuada, risus nibh convallis velit.</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="vehicle2.jpg" class="card-img-top" alt="Vehicle 2">
                    <div class="card-body">
                        <h5 class="card-title">Vehicle 2</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id congue malesuada, risus nibh convallis velit.</p>
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="vehicle3.jpg" class="card-img-top" alt="Vehicle 3">
                    <div class="card-body">
                        <h5 class="card-title">Vehicle 3</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id congue malesuada
                    </p>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Special Deals</h2>
            <div class="card-deck">
                <div class="card">
                    <img src="deal1.jpg" class="card-img-top" alt="Deal 1">
                    <div class="card-body">
                        <h5 class="card-title">Deal 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id congue malesuada, risus nibh convallis velit.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Expires in 7 days</small>
                    </div>
                </div>
                <div class="card">
                    <img src="deal2.jpg" class="card-img-top" alt="Deal 2">
                    <div class="card-body">
                        <h5 class="card-title">Deal 2</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id congue malesuada, risus nibh convallis velit.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Expires in 14 days</small>
                    </div>
                </div>
                <div class="card">
                    <img src="deal3.jpg" class="card-img-top" alt="Deal 3">
                    <div class="card-body">
                        <h5 class="card-title">Deal 3</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna id congue malesuada, risus nibh convallis velit.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Expires in 30 days</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Customer Reviews</h2>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">John Smith</h5>
                    <p class="card-text">"I had a great experience renting a car from this company. The process was easy and the vehicle was in excellent condition. I will definitely be using them again in the future."</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card
                    <h5 class="card-title">Jane Doe</h5>
                    <p class="card-text">"I had a great experience renting a car from this company. The process was easy and the vehicle was in excellent condition. I will definitely be using them again in the future."</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Contact Us</h2>
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    </div>